.section-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: -20px;
}

.about-section {
  margin-top: 0px; 
  margin-left: -20px;
}

/* .about-section .about-image {
  border-radius: 50%;
  object-fit: cover;
} */

.about-image {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
  margin-left: -50px;
}

.education-box {
  border: 1.5px solid #ccc;
  background-color: #f8f9fa;
}


@media (max-width: 768px) {
  .about-section .col-md-7 {
    margin-top: 1rem;
  }
}

#content{
    margin-top: -20px;
    margin-left: -30px;
}