/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set PT Serif globally */
body {
  font-family: 'PT Serif', serif;
  background-color: #fff;
  color: #000;
}

/* Ensure inheritance throughout the app */
* {
  font-family: inherit;
}
